<div class="columns">
  <div class="column">
  <h2 class="title is-2">Top 10 Books</h2>
    <ol class="ml-5">
      <% @books.each do |book| %>
        <li>
          <%= link_to book.title, book %>
          <em>(<%= book.author.name %>)</em>
        </li>
      <% end %>
    </ol>
    <p class="mt-5">
      <strong><%= link_to '👉 See the full library', books_path %></strong>
    </p>
  </div>

  <div class="column">
  <h2 class="title is-2">Top 10 Authors</h2>
   <ol class="ml-5">
      <%= render @authors %>
    </ol>
  <p class="mt-5">
      <strong><%= link_to '👉 See the all the Authors', authors_path %></strong>
    </p>
  </div>
</div>