<h2 class="title is-2">
  <% if show_link %>
    <%= link_to book.title, book %>
  <% else %>
    <%= book.title %>
  <% end %>
</h2>

<article class="message is-primary">
  <div class="message-header">
    <p>Author</p>
  </div>
  <div class="message-body">
    <p >
      <%= link_to book.author.name, book.author %>
    </p>
  </div>
</article>

<article class="message is-dark">
  <div class="message-header">
    <p>Rating</p>
  </div>
  <div class="message-body">
  <p class="mb-5">
    <%= book.average_ratings  %> / 5 ⭐
  </p>
  <progress class="progress is-danger" value="<%= book.average_ratings %>" max=5>
  <%= book.average_ratings %>
  </progress>
</article>



<p>
  <strong>Year published</strong>
  <%= book.year  %>
</p>

<p>
  <strong>ISBN</strong>
  <%= book.isbn  %>
</p>

<hr>