<h2 class="title is-2">Books</h2>

<%= form_tag books_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<%= render partial: 'book', collection: @books, locals: { show_link: true } %>
<%= will_paginate %>

